age= int(input("Enter your age: "))

if age >= 18:
    print("You are an adult")
    print("You are an unc")
elif age < 0:
    print("You haven't been born yet")
    print("Please enter a valid age")
elif age == 0:
    print("You were just born...impressive")
else:
    print("You are a child")


